{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  
  <h1 class="display-4">Hello, {% if current_user.is_authenticated %}{{current_user.name}}{%else%}Guest{%endif%}!</h1>
  
  <p class="lead">This is a simple app that it's main target is to help you track all of your expences.</p>
  <hr class="my-4">
  <p>The app was built using microservices including python with flask, nginx and postgres db
  </p>
  <p class="lead">
    <a href="/add_transactions"><button class="btn btn-danger btn-lg m-1">Add an Expense</button></a>
    <a href="/all"><button class="btn btn-outline-danger btn-lg m-1">See all Expences</button></a>
  </p>
</div>
{% if current_user.is_authenticated %}
<div class="row my-4">
  <div class="col-md-6 py-1">
      <div class="card-header">
          <h5 class="text-center">Expences By Category</h5>
      </div>
      <div class="card-body">
          <canvas id="doughnut" style="vertical-align: middle;"></canvas>
      </div>
      
  </div>
  <div class="col-md-6 py-1">
      <div class="card-header">
          <h5 class="text-center">Expences By Month</h5>
      </div>
      <div class="card-body">
          <canvas id="bar" style="vertical-align: middle;"></canvas>
      </div>
</div>


<script>
  var doughnut_chart = new Chart(document.getElementById("doughnut"),
      {
          type:"doughnut",
          data:{{ doughnut_data | safe}},
          options:{
                  legend: {
                      display: true,
                      position: 'bottom'
                  },
                  maintainAspectRatio: false
          }
      });
      var bar_chart = new Chart(document.getElementById("bar"),
      {
          type:"bar",
          data:{{ bar_data | safe}},
          options:{
                  legend: {
                      display: false
                  },
                  maintainAspectRatio: true
          }
      });
</script>
{%endif%}
{% endblock %}
